.howcontact {
    font-size: 20px;
    margin-top: 15px;
    color: #5a5e61;
    margin-bottom: 1rem;
    line-height: 1.6;
    font-weight: 700;
}
.maps {
    width: 100%;
    height: 350px;
    margin-bottom: 20px;
}
