.foreginslide {
    display: none;
    width: 100%;
    height: 280px;
}
.shows {
    display: block;
}
.slidediv {
    background-color: white;
    display: inline-block;
    margin-left: 4vw;
    margin-top: 100px;
    padding: 15px;
}
.foregintitle {
    color: #0078bf;
    font-weight: 700;
    line-height: 1.2;
    font-size: 19px;
}
.inlinebreack {
    display: inline-block;
    font-size: .9rem;
    font-weight: 400;
    color: #212529;
}

.foregincontainer {
    display: flex;
    justify-content: space-between;
    margin-top: -80px;
}
.forginleft {
    width: 67%;
    padding: 0 15px;
    font-size: .9rem;
    font-weight: 400;
    color: #212529;
    text-align: left;
    line-height: 2em;
}
.secondimg {
    width: 100%;
}
.forginrigth {
    /* display: inline-block; */
    width: 33.5%;
}
.foreginslides {
    display: none;
}
.foreginslides p {
    margin-bottom: 1rem;
}
.shows {
    display: block;
}
.mfa {
    float: right;
}
.foreginslidettwo {
    color: #0078bf;
    font-size: .9rem;
    font-weight: 400;
    padding: 3px 2px 3px 15px;
    margin-bottom: 10px;
}
.foreginslidettwo img {
    margin-right: 5px;
}
.foreginhelpfulinfo {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 1.125rem;
    padding-left: 13px;
}
.infoelem {
    line-height: 2em;
    font-size: .9rem;
    font-weight: 400;
    color: #0078bf;
}
.infoelem img {
    margin: 0 10px;
    margin-top: -5px;
}
.infoelem a {
    text-decoration: none;
}
.infoelem a:hover {
    text-decoration: underline;
}