.rightarrow {
    width: 20px;
    height: 20px;
}
.clicked {
    border: 3px solid #b6d4fa !important;
    color: #0078bf !important;
}
.faq {
    color: grey;
    border-radius: 4vw;
    background-color: #fff;
    padding: 10px 20px;
    margin: 4px;
    border: 1px solid transparent;
    display: flex;
    justify-content: space-between;
}
.faqp {
    padding: 0;
    margin: 0;
}
.faqhide {
    display: none;
    background-color: white;
    padding: 15px 12.7px;
}
.active {
    display: block;
}
.faqps {
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
    padding: 0;
    letter-spacing: -0.2px;
}
.faqrigth {
    padding-left: 2vw;
    padding-right: 30px;
}